:
#
# Handle basic common command-line arguments and initialization. See
# script-template for sample usage.
# 
#
case $1 in
  -h|--help)
    if [ ":${HELP_TEXT}" != ":" ] ; then
        echo "${HELP_TEXT}"
        exit 0
    else
        if [ ":${HELP_USAGE}" = ":" ] ; then
            idx=1
            while true ; do
                var=USAGE${idx}
                eval val=\"\$${var}\"
                [ ":${val}" != ":" ] || break
                HELP_USAGE="${HELP_USAGE}
    ${val}"
                idx=`expr ${idx} + 1`
            done
            HELP_USAGE="${HELP_USAGE}
    ${PROG} -h|--help
    ${PROG} --version"
        fi
        if [ ":${USAGE}" = ":" ] ; then
            USAGE="Usage:
${HELP_USAGE}
"
            export USAGE
        fi
        cat <<EOF
NAME
    $PROG - $DESC

SYNOPSIS$HELP_USAGE

DESCRIPTION
EOF
        echo "${HELP_DESC}" | sed -e '/./,$!d' -e 's/^/    /'
        echo "    The following arguments are currently supported:"
        if [ ":${HELP_OPTS}" != ":" ] ; then
            echo "${HELP_OPTS}" | sed -e 's/^/    /'
        else
            echo
        fi
        cat <<EOF
    -h|--help
        Print this help text and exit.

    --version
        Print the version number of the script and exit.

EOF
        if [ ":${HELP_ARGS}" != ":" ] ; then
            echo "${HELP_ARGS}" | sed -e '/./,$!d' -e 's/^/    /'
        fi
        if [ ":${HELP_ENV}" != ":" ] ; then
            echo "ENVIRONMENT"
            echo "${HELP_ENV}" | sed -e '/./,$!d' -e 's/^/    /'
        fi
        if [ ":${HELP_FILES}" != ":" ] ; then
            echo "FILES"
            echo "${HELP_FILES}" | sed -e '/./,$!d' -e 's/^/    /'
        fi
        exit 0    
    fi ;;
  --version)
    if [ ":${SCRIPT_VERSION}" = ":" ] ; then
        SCRIPT_VERSION=`get-git-version --ignore-untracked`
    fi
    echo "${PROG} ${SCRIPT_VERSION}"
    exit 0 ;;
esac
if [ ":${SCRIPTDIR}" = ":" ] ; then
    SCRIPTDIR=`cd \`dirname $0\`; pwd`
fi


PATH="${SCRIPTDIR}:/usr/local/bin:/usr/local/sbin:/bin:/sbin:/usr/bin:/usr/sbin"
export PATH

